@font-face {
   font-family: "Segoe UI Bold";
   src: url("fonts/Segoe UI Bold.eot") format("embedded-opentype"), url("fonts/Segoe UI Bold.ttf") format("truetype"), url("fonts/Segoe UI Bold.woff") format("woff"), url("fonts/Segoe UI Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}